body {
  background-color: #CD1C38;
}


img {
  position: relative;
  left: 43%;
  top: 40px;
  height: 200px;
  width: 250px;
}

.stop{
  position: relative;
  left: 20%;
  height: 40px;
  width: 60%;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-size: 16px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

#due1 {
  position: relative;
  top: 40px;
  left: -114px;
  display: none;
}

#manageOne {
  display: none;
  text-decoration: none;
  position: relative;
  top: 80px;
  left: 130px;
}

#due2 {
  position: relative;
  display: none;
  top: 50px;
}

#due3 {
  position: relative;
  display: none;
  top: 60px;
  left: 50px;
}

.link {
  text-decoration: none;
  color:inherit;
}
.expand {
  position: relative;
  top: 10px;
  left: 30%;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

#expand1 {
  position: relative;
  top: -70px;
  left:40%;
  height: 25px;
  width: 25px;
  cursor: pointer;
}





@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
  img {
    position: relative;
    left: 35%;
  }
}
