html,body {
  background-color: #CD1C38;
  height: 100%;
  margin: 0;
  padding: 0;
}


img {
  position: relative;
  left: 43%;
  top: 40px;
  height: 200px;
  width: 250px;
}

.stop{
  position: relative;
  left: 20%;
  height: 40px;
  width: 60%;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-size: 16px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

#due1 {
  position: relative;
  top: 40px;
  left: -114px;
  display: none;
}

#manageOne {
  display: none;
  text-decoration: none;
  position: relative;
  top: 80px;
  left: 130px;
}

#due2 {
  position: relative;
  display: none;
  top: 50px;
}

#due3 {
  position: relative;
  display: none;
  top: 60px;
  left: 50px;
}

.link {
  text-decoration: none;
  color:inherit;
}
.expand {
  position: relative;
  top: 10px;
  left: 30%;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

#expand1 {
  position: relative;
  top: -70px;
  left:40%;
  height: 25px;
  width: 25px;
  cursor: pointer;
}


#map {
  position: relative;
  left: 20%;
  top: 100px;
  width: 60%;
  height: 50%;
  -webkit-box-shadow: 0px 1px 14px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 14px 4px rgba(0,0,0,0.75);
box-shadow: 0px 1px 14px 4px rgba(0,0,0,0.75);
 }



@media only screen and (max-width : 768px) {

  img {
    position: relative;
    left: 35%;
  }

  #map {
    width: 100%;
    top: 0;
    left:0;
    height: 60%;
    -webkit-box-shadow: 0px 3px 13px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 13px 1px rgba(0,0,0,0.75);
box-shadow: 0px 3px 13px 1px rgba(0,0,0,0.75);
  }
}
